beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
confusable-homoglyphs==3.2.0
Django==1.11
django-bootstrap3==11.0.0
django-braces==1.13.0
django-model-utils==3.1.2
django-registration==2.4.1
django-star-ratings==0.7.0
django-tinymce==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
opencv-contrib-python==3.4.7.28
opencv-python==4.1.0.25
pbr==5.2.0
Pillow==6.0.0
psycopg2==2.8.2
pyperclip==1.7.0
python-decouple==3.1
pytz==2018.6
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
sqlparse==0.3.0
stevedore==1.30.1
swapper==1.1.0
urllib3==1.24.1
